body{
    margin: 0;
    padding: 0;
    background:url(../assign/41_2024-638408435921035474-103.jpg);
    background-size: cover;
    backdrop-filter: blur(4px);
    height: 780px;    
}

h1{

 
    margin: 5% 0% 0%;
    font-size: 58px;
    font-weight: 900;
    opacity: .7;
    
}


input{
    border: 2px solid rgb(190, 188, 183);
    padding: 1% 42%;
    margin: 3% 0%;
    border-radius: 30px;
    text-align: center;
}


h2{
    opacity: .5;
    margin: 8% 7% 5%; 
    color: rgb(6, 56, 56);
    background-color: aquamarine;
    border-radius: 30px;
    padding: 3% 0%;
    font-size: 25px;
}

@media only screen and (max-width:500px){
    body{
        
        height:900px;
        background-position: center;
    }

    h1{
        font-size: 50px;
        line-height: 79px;
    }
    
    input{
        padding: 3% 26%;     
    }

    h2{
        font-size: 16px;
    }
}